.quotes_container {
  position: absolute;
  bottom: 10%;
  left: -5%;
}

.quotes_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote_text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.quote_image {
  max-width: 300px;
}

.quote_image img {
  width: 100%;
}
