.socials_list {
  display: flex;
  list-style: none;
  background-color: #dfb4fe;
  max-width: 35%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem 30rem 0rem;
}

.socials_wrapper {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}

.socials_list__item {
  margin-right: 1.875rem;
}

.socials_list__item:last-child {
  margin-right: 0rem;
}

.socials_list__item a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #000;
}

.guy {
  z-index: 100;
}

.guy img {
  height: 100%;
  max-height: 750px;
}
