@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

/* .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  display: flex;
  padding: 40px 0px;
}

.content {
  background-color: yellow;
  flex: 1 1 auto;
  max-width: 100rem;
  margin: 0px auto;
} */

.container {
  min-height: 100vh;
}

.wrapper {
  padding: 0rem 8rem;
}

.header {
  position: relative;
  display: flex;
  max-height: 16vh;
  margin: 0rem 2rem;
  padding: 4rem 4rem;
  justify-content: space-between;
}

.hero {
  background-color: #fff;
  height: 84vh;
  position: relative;
}

.box {
  background-color: #f3d772;
  position: absolute;
  width: 93vw;
  top: 0;
  right: 0;
  z-index: 1;
  height: 84vh;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .header {
    margin: 0rem 1rem;
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 1160px) {
  .header {
    margin: 0rem 0.5rem;
    padding: 4rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .box {
    width: 100vw;
  }
}
