@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  font-size: 16px;
}

/* .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  display: flex;
  padding: 40px 0px;
}

.content {
  background-color: yellow;
  flex: 1 1 auto;
  max-width: 100rem;
  margin: 0px auto;
} */

.hero_container {
  min-height: 100vh;
  display: flex;
  padding: 3.5rem 7rem;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 7;
}

.wrapper {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  min-width: 92vw;
  min-height: 84vh;
  background-color: #f3d772;
}
