.nav_list {
  display: flex;
  flex: 1 0 50%;
  justify-content: flex-end;
  align-items: center;
}

.nav_list__item {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  margin-left: 2.5rem;
  transition: 0.3s ease-in-out;
}

.nav_list__item:hover {
  background-color: #dfb4fe;
}

@media screen and (max-width: 1280px) {
  .nav_list {
    flex: 1 1 20%;
  }
}

@media screen and (max-width: 1160px) {
  .nav_list__item {
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  .nav_list__item:last-child {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 990px) {
  .nav_list__item {
    font-size: 3rem;
  }
}
